/* 
  green rgb(141, 198, 63)
  dark rgb(35, 31, 32)
*/

/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article, #content { display: block; }

span.hide { display: none; }
  
body { font: 13px/22px Arial; background: #FFF; }

/* Header */
header { position: relative; width: 940px; height: 95px; margin: 0 auto; }
header p a { display: block; width: 317px; height: 52px; margin: 15px 0 0 0; background: url('/images/errornot.png') 0 0 no-repeat; }
header ul { position: absolute; top: 0; right: 10px; }
header ul li { float: left; list-style-type: none; }
header ul li a { display: block; padding: 3px 10px; background: rgb(35, 31, 32); font: normal 12px Arial; text-decoration: none; color: rgb(141, 198, 63); }
header ul li a:hover { color: rgb(35, 31, 32); background: #FFF; }

/* nav */
nav { height: 34px; background: rgb(35, 31, 32); border-bottom: 8px solid rgb(141, 198, 63); }
nav ul { width: 940px; height: 95px; margin: 0 auto; }
nav ul li { display: block; float: left; margin: 0 0; padding: 2px 25px; border-top: 8px solid rgb(35, 31, 32); border-bottom: 8px solid rgb(141, 198, 63); }
nav ul li:hover { background: #FFF; border-top: 8px solid rgb(141, 198, 63); border-bottom: 8px solid #FFF; }
nav ul li a { font: normal 13px/13px Arial; color: rgb(141, 198, 63); text-decoration: none; text-transform: uppercase; }
nav ul li:hover a { color: rgb(35, 31, 32); }

/* footer */
footer { clear: both; width: 100%; height: 24px; margin: 40px 0 0 0; background: rgb(35, 31, 32); border-top: 4px solid rgb(141, 198, 63); }
footer p { padding: 5px 0 0 0; text-align: center; font: normal 13px Arial; color: rgb(141, 198, 63); }
footer p a { color: rgb(141, 198, 63); text-decoration: none; }

/* Warning + demo */
.warning { clear: both; width: 100%; background: rgb(35, 31, 32); }
.warning p { padding: 5px 0 0 0; text-align: center; font: normal 18px Arial; color: #f00; }
.demo {background: #f6e69c;}
.demo ul {margin-left: 2em;}

/* #content */
#content { width: 940px; margin: 0 auto; }
#content h1 { margin: 10px 0; font: normal 24px Arial; color: rgb(35, 31, 32); }
#content h1:first-letter { margin: 0 3px 0 0; padding: 0 3px; color: #FFF; background: rgb(141, 198, 63); }
#content h2 { margin: 10px 0; font: normal 18px Arial; color: rgb(35, 31, 32); }
#content h2:first-letter { margin: 0 3px 0 0; padding: 0 3px; color: #FFF; background: rgb(141, 198, 63); }
#content a { font: normal 12px Arial; color: rgb(141, 198, 63); text-decoration: underline; }
#content a:hover { text-decoration: none; }
#content dl {  }
#content dl dt { margin: 10px 0 0 0; font: bold 13px Arial; }
#content dl dd {  }

/* form */
form { margin: 10px 0; }
form p { }
form p label { display: block; margin: 15px 0 0 0; font: bold 13px Arial; }
form p input[type="text"], form p input[type="password"] { width: 300px; height: 24px; font: normal 13px/24px Arial; border: 1px solid rgb(141, 198, 63); border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
form p input[type="checkbox"] { float: left; }
form p input[type="submit"] { margin: 20px 0 10px 0; padding: 3px 10px; border: none; font: normal 13px Arial; color: #FFF; text-transform: uppercase; background: rgb(141, 198, 63); }
form p textarea { width: 400px; height: 200px; font: normal 13px Arial; border: 1px solid rgb(141, 198, 63); border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
form fieldset { position: relative; margin: 20px 0 0 0; padding: 40px 0 0 0; border-top: 2px solid rgb(35, 31, 32); }
form fieldset legend { position: absolute; margin: -40px 0 0 0; padding: 3px 20px; font: normal 14px/20px Arial; text-transform: uppercase; color: #FFF; background: rgb(35, 31, 32); }

/* table */
table { width: 100%; margin: 20px 0; border-spacing: 0; border-bottom: 3px solid rgb(35, 31, 32); }
table.small { width: auto; }
table tr { }
table tr th { padding: 3px 3px 3px 10px; font: normal 12px Arial; color: rgb(141, 198, 63); background: rgb(35, 31, 32); text-align: left; border-right: 1px solid rgb(141, 198, 63); }
table tr th:last-child, 
table tr td:last-child { border-right: none; }
table tr:last-child td { border-bottom: none; }
table tr td { padding: 5px 3px; font: normal 12px Arial; color: rgb(35, 31, 32); background: #FFF; text-align: left; border-right: 1px solid rgb(141, 198, 63); border-bottom: 2px solid rgb(141, 198, 63); }
table tr:nth-child(2n) td { background: rgba(141, 198, 63, 0.2); }

table tr td.center { text-align: center;}
table tr td a { font: normal 12px Arial; color: rgb(35, 31, 32); }
