- unless @projects.empty?
  %ul
    -@projects.each do |project|
      %li=link_to project.name, project_errors_path(project)
- else
  %p
    You have no project created. Create your
    =link_to 'first one', new_project_path
