development:
  host: 127.0.0.1
  port: 27017
  adapter: mongodb
  database: error_not_development

test:
  host: 127.0.0.1
  port: 27017
  adapter: mongodb
  database: error_not_test

# set these environment variables on your prod server
production:
  host: 127.0.0.1
  port: 27017
  adapter: mongodb
  database: error_not
  username: <%= ENV['MONGO_USERNAME'] %>
  password: <%= ENV['MONGO_PASSWORD'] %>
