- @title = @root_error.message

= render :partial => 'errors/sidebar_summary'

#error
  = render :partial => 'errors/header_error'

  %h2 Backtrace
  %pre
    - @error.backtrace.each do |line|
      = line.to_s.gsub(/^(\s+)/){ |x| $1.size }
