- @title = @root_error.message

= render :partial => 'sidebar_summary'

#error
  = render :partial => 'header_error'

  %h2 Backtrace
  - @error.backtrace.each do |line|
    = line.to_s.gsub(/^(\s+)/){ |x|  '&nbsp;' * ($1.size) }
