- @title = @root_error.message

= render :partial => 'sidebar_summary'

#error
  = render :partial => 'header_error'

  %h2 Session
  %ul
    - @error.session.each do |key, val|
      %li="#{key}: #{val}"
